<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Moar Horse 4</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="../static/css/style.css">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/race">Race</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/store">Store</a>
              </li>
            </ul>
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                Money: ${{money}}
              </li>
            </ul>
          </div>
        </nav>
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h1 class="text-center">
                Welcome to <b>Moar Horse 4</b>, the premier virtual horse racing platform!
              </h1>
              <p class="body-text"> Here are Moar Horse Industries, we wholeheartedly embrace the ideals of innovation and creativity. This is why, during TJCTF 2020, we bring to you, for the first time ever: virtual horse racing. We feel that especially in these difficult times, everybody needs to be able to race a virtual horse. And, what's more: thanks to generous donations from sponsors, we're able to offer <b>one</b> (1) TJCTF flag as a prize for anyone who beats our reigning champion!
              </p>

              <p class="body-text"> So, in the spirit of virtual horse racing, get out there, have some fun, and race some virtual horses! Also, if you find any vulnerabilities on our website, please don't exploit them. We only want flags to go to those that win races fair and square!
              </p>

              <p class="body-text"> If you have any questions or concerns about the nature of virtual horse racing, please do not hesitate to reach out to our founder and great leader <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Omkar Kulkarni</a>.
              </p>
            </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
