<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Moar Horse 4</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="../static/css/style.css">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
              </li>
            </ul>
          </div>
        </nav>
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h1 class="text-center">
                A new user?
              </h1>
              <p class="body-text"> Sorry about this, but first we have to get you to agree to some legal stuff – our lawyers say it's necessary to prevent users from "exfiltrating TJCTF intellectual property in the form of flags". Read the following and press the big blue button to start racing some horses!
              </p>
              <br />

              <p class="legal-text"> <b>Restrictions on Use: </b> You will use Moar Horse 4, the premier application for virtual horse racing, only in a manner intended by its designers. You will not (a) decompile, reverse engineer, disassemble, attempt to derive the source code of, or decrypt the website; (b) make any modification, adpatation, improvement, enhancement, translation or derivative work of the website; (c) violate any applicable laws, rules or regulations in connection with access to the website; (d) probably some other stuff, I don't get paid enough to write this.
              </p>

              <p class="legal-text"> <b> No Warranties: </b> The Author of this website expressly disclaims any warranty for Moar Horse 4. Moar Horse 4 and any related documentation is provided "as is" without warranty of any kind, either express or implied, including, without limitation, the implied warranties or merchantability, fitness for a particular purpose, or noninfringement. The entire risk arising out of use or performance of Moar Horse 4 remains with you.
              </p>

              <p class="legal-text"> <b>No Liability For Damages:</b> In no event shall the author of this website be liable for any special, consequential, incidental or indirect damages whatsoever (including, without limitation, damages for loss of business profits, business interruption, loss of business information, or any other pecuniary loss) arising out of the use of or inability to use this product, even if the Author of this website is aware of the possibility of such damages and known defects.
              </p>

              <p class="legal-text"> <b>No Obtaining Flags:</b> Under no circumstances will you obtain any flags from this website, especially ones relating to the Moar Horse 4 challenge on TJCTF 2020, even if said flags are easily obtainable from the website. 
              </p>
              <br />

              <div class="text-center">
                <form action="/join" method="get">
                  <button type="submit" class="btn btn-primary">I didn't read any of this. </button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
